In [4]:
from experiments.ina_schneider import (schneider_iv,
                                    schneider_tauf,
                                    schneider_taum,
                                    schneider_taus,
                                      schneider_inact,
                                      schneider_reduc,
                                      schneider_recov)

from experiments.ina_sakakibara import (sakakibara_iv_Nao2 ,
                                                sakakibara_iv_Nao5 ,
                                                sakakibara_iv_Nao20 ,
                                                sakakibara_act,
                                                sakakibara_inact,
                                                sakakibara_inact_kin_1,
                                                sakakibara_inact_kin_2,
                                                sakakibara_recov,
                                                sakakibara_recov_kin)                                   

from ionchannelABC.experiment import setup
from ionchannelABC.visualization import plot_sim_results
import pandas as pd
from pyabc import History
import os, tempfile
modelfile = 'models/nygren_Na.mmt'

In [2]:
observations, model, summary_statistics = setup(modelfile,
                                                schneider_iv,
                                                schneider_tauf, 
                                    schneider_taum,
                                    schneider_taus,
                                      schneider_inact,
                                      schneider_reduc,
                                      schneider_recov)

#print(observations)
assert len(observations)==len(summary_statistics(model({})))

In [6]:
db_path = ("sqlite:///" +
           os.path.join(tempfile.gettempdir(), "nygren_ina_testing.db"))
history = History(db_path)
history.id = 41 
df, w = history.get_distribution(m=0)

"""
samples = pd.DataFrame({})
results = summary_statistics(model({}))
output = pd.DataFrame({'x': observations.x, 'y': list(results.values()),
                       'exp_id': observations.exp_id})
output['sample'] = 0
output['distribution'] = 'post'
samples = samples.append(output, ignore_index=True)
"""
n_samples = 10 # increasing this number will produce a better approximation to the true output, recommended: >= 100
               # we keep 10 to keep running time low
parameter_samples = df.sample(n=n_samples, weights=w, replace=True)
parameter_samples.head()

name,ina.P_Na,ina.q1,ina.q2,ina.q3,ina.q4,ina.q5,ina.q6,ina.q7,ina.q8,ina.r1,ina.r2,ina.r3,ina.r4,ina.r5,ina.r6,ina.s1
id,,,,,,,,,,,,,,,,
571492,0.000954,93.523171,11.051066,4.136921,24.519214,18.436894,0.117152,11.579653,1.230850,50.589788,-5.386288,0.099638,49.072768,24.535653,0.001578,0.373206
572409,0.001144,92.031821,1.358837,2.460625,77.371145,4.476838,1.793549,15.232275,7.640333,50.503950,-7.573574,0.560166,26.374255,2.699669,0.002329,0.732277
566665,0.000850,95.893779,1.372552,6.045501,68.578234,11.434419,10.260712,2.536269,2.247473,38.396427,-2.005357,0.152615,80.668415,23.428635,0.007334,0.259315
566910,0.000433,98.992285,10.915434,0.267990,75.589899,5.971245,6.081263,9.049287,2.183411,84.318580,-19.840823,0.418863,87.690606,7.435927,0.006967,0.267409
567943,0.000857,94.960675,1.925158,19.262717,40.073721,18.765702,11.853401,0.492168,1.051375,50.239428,-17.475728,0.138521,50.029088,27.600014,0.003488,0.408695

In [8]:
df.describe()

name,ina.P_Na,ina.q1,ina.q2,ina.q3,ina.q4,ina.q5,ina.q6,ina.q7,ina.q8,ina.r1,ina.r2,ina.r3,ina.r4,ina.r5,ina.r6,ina.s1
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,0.000834,91.721692,4.962617,6.593975,57.890787,9.611519,4.583513,6.609613,4.549025,61.477050,-16.556109,0.376185,67.800513,30.749894,0.004915,0.498236
std,0.000259,4.913236,2.641646,4.588556,13.162289,7.702536,4.365228,4.591652,4.326888,13.590229,9.327997,0.267762,22.585547,22.691663,0.002667,0.211318
min,0.000199,76.409678,0.006623,0.001894,20.141950,-24.961759,0.000735,0.000418,0.002061,22.701076,-49.817839,0.000094,0.092074,0.007805,0.000004,0.000348
25%,0.000647,88.182795,2.983294,2.941808,49.409455,4.643916,1.163285,3.010007,1.202678,51.848387,-22.805716,0.147614,55.000643,13.071701,0.002723,0.345189
50%,0.000820,92.256114,4.858412,5.634857,59.510745,9.427227,2.555553,5.610172,2.577008,60.800219,-15.532599,0.324087,72.108775,25.659463,0.004914,0.498751
75%,0.001010,95.733588,6.738755,9.315353,68.200510,14.955031,7.480037,9.388052,7.386309,70.707916,-9.353145,0.577109,85.361784,43.284655,0.007081,0.650965
max,0.001847,99.994946,16.322116,19.991747,79.994929,24.973969,19.978907,19.975680,19.915148,99.955416,-0.033174,0.999746,99.995488,99.871566,0.010000,0.999954